body{
    background-color: white;
}

#submitBtn {
    /* background-color: #4CAF50; */
    text-align: center;
    color: red;
    padding: 15px 32px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.4s;

}

#submitBtn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}